{% extends "header.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">

<body>
    <div id="wrapper">
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>

            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/bc.jpg' %}" class="jarallax-img" alt="">
                <div class="center-y relative text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1>Contact Us</h1>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <section aria-label="section">
                <div class="container">
                    <div class="row g-custom-x">
                        <div class="col-lg-8 mb-sm-30">
                            <h3>Do you have any question?</h3>
                            <form class="form-border" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-4 mb10">
                                        <div class="field-set">
                                            <input type="text" name="fname" id="name" class="form-control"
                                                placeholder="Your Name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb10">
                                        <div class="field-set">
                                            <input type="text" name="email" id="email" class="form-control"
                                                placeholder="Your Email" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb10">
                                        <div class="field-set">
                                            <input type="text" name="phone" id="phone" class="form-control"
                                                placeholder="Your Phone" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="field-set mb20">
                                    <textarea name="message" id="message" class="form-control"
                                        placeholder="Your Message" required></textarea>
                                </div>
                                <div>
                                    <button class="btn-main" type="submit">Send Message</button>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-4">
                            <div class="de-box mb30">
                                <h4>US Office</h4>
                                <address class="s1">
                                    <span><i class="id-color fa fa-map-marker fa-lg"></i>Ahmedabad</span>
                                    <span><i class="id-color fa fa-phone fa-lg"></i>+1 333 9296</span>
                                    <span><i class="id-color fa fa-envelope-o fa-lg"></i><a
                                            href="mailto:contact@example.com">contact@example.com</a></span>
                                </address>
                            </div>

                            <div class="de-box mb30">
                                <h4>AU Office</h4>
                                <address class="s1">
                                    <span><i class="fa fa-map-marker fa-lg"></i>Ahmedabad</span>
                                    <span><i class="fa fa-phone fa-lg"></i>+61 333 9296</span>
                                    <span><i class="fa fa-envelope-o fa-lg"></i><a
                                            href="mailto:contact@example.com">contact@example.com</a></span>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

</body>

{% endblock content %}

</html>
