{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>DriveNow</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static 'mdb.min.css' %}" rel="stylesheet" type="text/css" id="mdb">
    <link href="{% static 'plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'coloring.css' %}" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="{% static 'scheme-01.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onload="initialize()">
    <div id="wrapper">
        <!-- header begin -->
        <header class="transparent scroll-light has-topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="{% url 'index' %}">
                                            <h2 class="logo-1" style="color: white;" color: white;>DriveNow</h2>
                                            <h2 class="logo-2">DriveNow</h2>
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li><a class="menu-item" href="{% url 'index' %}">Home</a></li>
                                    <li><a class="menu-item" href="{% url 'about' %}">About Us</a></li>
                                    <li><a class="menu-item" href="{% url 'cars' %}">Cars</a></li>
                                    <li><a class="menu-item" href="{% url 'quick-booking' %}">Booking</a></li>
                                    <li><a class="menu-item" href="{% url 'contact' %}">Contact</a></li>
                                    <li><a class="menu-item" href="{% url 'dashboard' %}">My Account</a></li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    {% if request.session.username %}
                                        <a href="{% url 'logout' %}" class="btn-main">Logout</a>
                                    {% else %}
                                        <a href="{% url 'login' %}" class="btn-main">Login</a>
                                    {% endif %}
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

{% block content %}

{% endblock content %}

<!-- content close -->
<a href="#" id="back-to-top"></a>
<!-- footer begin -->
<footer class="text-light">
    <div class="container">
        <div class="row g-custom-x">
            <div class="col-lg-3">
                <div class="widget">
                    <h5>About DriveNow</h5>
                    <p>Where quality meets affordability. We understand the importance of a smooth and enjoyable
                        journey without the burden of excessive costs. That's why we have meticulously crafted
                        our offerings to provide you with top-notch vehicles at minimum expense.</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Contact Info</h5>
                    <address class="s1">
                        <span><i class="id-color fa fa-map-marker fa-lg"></i>Ahmedabad</span>
                        <span><i class="id-color fa fa-phone fa-lg"></i>+1 333 9296</span>
                        <span><i class="id-color fa fa-envelope-o fa-lg"></i><a
                                href="mailto:contact@example.com">contact@example.com</a></span>
                    </address>
                </div>
            </div>

            <div class="col-lg-3">
                <h5>Quick Links</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Partners</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Social Network</h5>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                        <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->
</div>

<!-- Javascript Files -->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/designesia.js' %}"></script>

</body>
</html>
