:root {
<<<<<<< HEAD
    --primary-color: #00bdeb;
    --primary-color-rgb: 120, 202, 92;
  
    --secondary-color: #00bdeb;
    --secondary-color-rgb: 23, 149, 16;
  }
=======
  --primary-color: #00bdeb;
  --primary-color-rgb: 120, 202, 92;

  --secondary-color: #00bdeb;
  --secondary-color-rgb: 23, 149, 16;
}
>>>>>>> 3c758daef34552d27080c0a233f92a39cb9c23df
